<p class="text-xs-center">Войдите для работы</p>
<div 
	@fade
	class="alert alert-{{message.type}}"
	*ngIf="message.text"
	>
	{{ message.text }}
</div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
					<div class="form-group"
					[ngClass]="{'has-error': form.get('email').invalid && form.get('email').touched}"
					>
                        <label for="email">Email</label>
                        <input
                            type="text"
                            class="form-control underlined"
                            id="email"
							placeholder="Введите ваш email"
							formControlName="email"
						>
						<span 
						class="form-help-text"
						*ngIf="form.get('email').invalid && form.get('email').touched"
						>
							<span *ngIf="form.get('email')['errors'][required]">Email не может быть пустым.</span>
							<span *ngIf="form.get('email')['errors']['email']">Введите корректный еmail.</span>
						</span>
                    </div>
					<div [ngClass]="{'has-error': form.get('password').invalid && form.get('password').touched}"

					class="form-group">
                        <label for="password">Пароль</label>
                        <input
                            type="password"
                            class="form-control underlined"
                            id="password"
							placeholder="Пароль"
							formControlName="password"
						>
						<span
						class="form-help-text"
						*ngIf="form.get('password').invalid && form.get('password').touched"
						>
							<span *ngIf="form.get('password')['errors'][required]">поле пароля не может быть пустым.</span>
							<span *ngIf="form.get('password')['errors']['minlength']"> пароль должен быть длиннее 
								{{ form.get('password')['errors']['minlength']['requiredLength'] }} 
								символов, сейчас {{ form.get('password')['errors']['minlength']['actualLength'] }}</span>
						</span>
                    </div>
                    <div class="form-group">
						<button type="submit" class="btn btn-block btn-primary"
						[disabled]="form.invalid"
						>
						Войти</button>
                    </div>
                    <div class="form-group">
                        <p class="text-muted text-xs-center">
                            Нет аккаунта? <a [routerLink]="'/registration'">Зарегистрироваться!</a>
                        </p>
                    </div>
                </form>