<section class="section">
	<div class="row">
		<div class="col-xs-12 text-center chart-center">
			<ngx-charts-pie-chart 
				[view]="[545, 355]" 
				[results]="data" 
				[legend]="false" 
				[explodeSlices]="false" 
				[labels]="true"
				[doughnut]="true">
			</ngx-charts-pie-chart>
		</div>
	</div>
</section>